body,
html {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    height: 100%;
}
/* ---Bottom Nav Bar---*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #282e34;
  bottom: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

/*//////////////////////////////////////////////////////*/

.container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 900px;
    height: 500px;
    background: white;
    opacity: 0.9;
    margin: auto;
    border: 5px solid black;
    box-shadow: 5px 5px;
    border-radius: 20px
}


.content {
    top: 50%;
    width: 960px;
    margin: 0px auto;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
}

.inner-content {
    padding: 0px 20px 40px 20px;
}


.Logo {
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -105px
}

.ccbysa {
    position: absolute;
    margin-top: 5px;
    border-width: 0;
    left: 95%;
    margin-left: -40px
}

.game_title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 50%;
    width: 100%;
    color: #fff;
    -webkit-text-stroke: 1px black;
}

.game_descr {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    position: absolute;
    top: 60%;
    width: 100%;
    color: #fff;
    -webkit-text-stroke: 1px black;
}

.text_fade_in {
    animation: opac 3.8s
}

@keyframes opac {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/*//////////////////////////////////////////////////////*/
.parallax {
    /* The image used */
    background-image: url("images/3.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* NOTE: Button */
/*//////////////////////////////////////////////////////*/
.dl_button {
    left: 50%;
    top: 75%;

}

.button {
    margin: 0;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    display: inline-block;
    border-radius: 8px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 16px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/*//////////////////////////////////////////////////////*/

/*blank template

.banner-divider-blank {
    position: relative;
    background: none;
    height: 40px;
}
.banner-divider {
    position: relative;
    background: #497b40;
    height: 40px;
}
*/

/*

DT {
    font-weight: bold;
    margin-top: .33em;
    margin-left: 2.5em;
}

H1 {
    color: #000;
    margin-left: 0em;
}

H2 {
    color: #000;
    margin-left: 0em;
    margin-top: 1.33em;
}


H3 {
    color: #000;
    margin-left: 1em;
}

p {
    margin-left: 2.5em;
}

*/